.preloader {
   text-align: center;
}

.users {
   padding: 15px;
}

.user {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
}

.userAva {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   margin-bottom: 5px;
   text-align: center;
}

.leftSide {
   width: 70px;
   text-align: center;
   margin-right: 5px;
}

.leftSide button {
   width: 70px;
   outline: none;
   background-color: rgb(50, 138, 50);
   color: #fff;
   border-radius: 5px;

}

.fullName {
   margin-bottom: 20px;
}

.rightSide {
   width: 100%;
   border: 2px solid rgb(126, 126, 126);
   border-radius: 10px;
   padding: 5px;
   display: flex;
   justify-content: space-between;
}

.living {
   text-align: right;
}

/* pagination */

.selectedPage {
   font-weight: 700;
   border-bottom: 1px solid #000;
}

.pagination {
   text-align: center;
}

.pagination span {
   margin: 0px 3px 0px 3px;
   cursor: pointer;
}

.moreButton {
   width: 200px;
   height: 50px;
   color: #fff;
   background-color: green;
   display: block;
   margin: 0 auto;
   text-align: center;
   outline: none;
   border-radius: 5px;
   margin-top: 20px;
}