.item {
  color: #000;
  display: flex;
}

.item img {
  height: 50px;
  width: 50px;
  margin-right: 10px;
  border-radius: 50%;
}

.post_text {
  word-wrap: break-word;
  width: 730px;
  margin: 0;

}

.likeCount {
  margin-bottom: 15px;
  display: inline-block;
}